body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.divider {
  font-family: "Share Tech Mono", monospace;
  color: black;
  font-size: 6vh;
  text-shadow: 1px 1px 1px rgba(226, 226, 226, 0.132);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
 
}
.divider::before,
.divider::after {
  content: '';
  display: block;
  height: 0.09em;
  min-width: 30vw;
  border-radius: 0.5rem;
}

.divider::before {
  background: linear-gradient(to right, rgba(240,240,240,0), #212529);
  margin-right: 4vh;
  border-radius: 0.5rem;
}

.divider::after {
  background: linear-gradient(to left, rgba(240,240,240,0), #212529);
  margin-left: 4vh;
  border-radius: 0.5rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scontent {
  transform:scale(1);
}
.scontent:hover {
  transform:scale(1.01);
  transition: all 0.2s ease-in-out;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex.gap{
  gap: 3rem;
}
.flex.start{
  justify-content: space-around;
  align-items: flex-start;
}
.flex.end{
  justify-content: end;
  align-items: flex-end;
}
.flex.column{
flex-direction: column;
}
#inputTravel{
  width:15rem;
}
.travel-container{
  width:45em;
  min-width: fit-content;
  box-shadow:0 0 2em cadetblue;
}
.account-box{
  width: 30rem;
  
  background: whitesmoke;
  border: 0.1em solid lightgray;
  box-shadow: 0 0 0.6em darkslategray;
  padding: 2rem;
  border-radius: 1rem;
}
.user-login{
  width:20em !important;
  height:2em;

}
.soonTM{
  opacity: 0.75;
  cursor: not-allowed !important;
  pointer-events: none;
}
.background{
  background-image: url("https://placeimg.com/1920/1080/nature");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2em;
  height:25rem;
  padding:2em 2em 2em 2em !important;
  backdrop-filter: blur("4px");
  box-shadow: 0 0 0.6em darkslategray;
}
.cardTitle {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4em;
}
.column {
  flex-direction: column;
}
.start {
  justify-content: flex-start;
  align-items: flex-start;
}
.flexgap-1 {
  gap: 1em;
}
.cardCost{
  padding: 0.3em;
  border-radius: 16px;
  background: #f0f0f0;
  min-width: 3em;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.3em darkslategray;
}
.cardCost.broke{
  background: rgb(249, 223, 177);
  box-shadow: 2px 2px 0.3em darkkhaki;

}
.cardCost.money{
  background: #bcebbc;
  box-shadow: 2px 2px 0.3em darkgreen;

}
.overlay-card-badge{
  position:absolute;
  width: 100%;

 filter: drop-shadow(0 0 1em #bcebbc);
}
.cardDescription {
  margin:0 auto;
  padding: 0.2em 0.4em 0.2em 0.4em;
  border-radius: 12px;
  background: #f0f0f0;
  min-width: 3em;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 0.1em darkslategray;
}
.card-travelCompany{
  padding: 0.1em;
  border-radius: 16px;
  background: whitesmoke;
  min-width: 2.5em;
  min-height:1.5em;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  font-weight:500;
  box-shadow: 0 0 0.1em lightslategrey;
}